
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script src="~/lib/jquery/jquery.js"></script>

<h1>Add things to list</h1>

<table>
    <tr>
        <td>
            Listname
        </td>
        <td>
            <input type="text" name="task" id="nameList" />
        </td>
        <tr/>
        <tr>
        <td>
            Task
        </td>
        <td>
            <input type="text" value="" name="task" id="txtTask" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" id="btnSave" value="Save" />
        </td>
    </tr>
</table>
<table class="table-condensed" style="width: 100%" id="tableTasks">
    <thead>
        <tr>
            <th>
                Tasks
            </th>
        </tr>
    </thead>
</table>


<input type="button" value="Save Task" name="SaveData" id="btnSaveData" class="btn btn-primary" />








<script>


        $(document).ready(function(){
            $("#btnSave").click(function(){
                AddTask();
            });

            $("#btnSaveData").click(function(){
            SaveList();
        });
        });

        function SaveList(){
            var table = document.getElementById("tableTasks");
            var listName = $("#nameList").val();
            var newarray = new Array();
            $("#tableTasks tr").each(function(){
                $(this).find("td").each(function(){
                    newarray.push($(this).text())
                })
            })
            var complex = {
                name: listName,
                tasks: newarray
            };

            $.ajax({
            type: "POST",
            url: "ToDo/AddList",
            data: {jsonList: JSON.stringify(complex)}
        })
        }

        function AddTask(){
            var Task = "<tr><td>" + $("#txtTask").val() + "</td></tr>";
            $("#tableTasks").last().append(Task);
            $("#txtTask").val("");
        }

</script>

