@model IEnumerable<ToDoList>
<h1>List of To Do Lists</h1>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Details", "ViewList", new {id = item.Id}) |
                @Html.ActionLink("Remove", "RemoveList", new {id = item.Id})
            </td>
        </tr>
    }
    </tbody>
</table>